<div class="card group hover:shadow-xl hover:scale-105">
    <img src="{{mealImgSrc}}" class="group-hover:rotate-[360deg] shadow-2xl drop-shadow-xl -translate-y-20" alt="">
    <h3>{{ mealName.split(' ').slice(0, 4).join(' ')}}</h3>
    @if (mealArea != "") {
    <h5 class="text-emerald-600"><i class="fas fa-globe-africa"></i>
        {{mealArea}}
    </h5>
    }
    <button class="bg-gradient-to-r bg-[#21ba75] hover:bg-emerald-600 hover:shadow-lg hover:scale-105">
        <a href="#" (click)="clickedBtn(mealID)"> View Recipe</a>
    </button>
</div>