<div
    class="text-center group duration-300 transition-all bg-white p-12 pb-4 rounded-[35px] hover:shadow-xl hover:scale-105">
    <img src="{{mealImgSrc}}"
        class="w-full group-hover:rotate-[360deg] duration-700 transition-all rounded-full drop-shadow-xl  -translate-y-20  shadow-2xl"
        alt="">
    <h3 class="-mt-12 text-xl font-semibold tracking-wider font-Pacifico">{{ mealName.split(' ').slice(0, 4).join(' ')
        }}
    </h3>
    @if (mealArea != "") {
    <h5 class="flex items-center justify-center gap-2 text-emerald-600"><i class="fas fa-globe-africa"></i>
        {{mealArea}}
    </h5>
    }
    <button
        class="px-8 py-2 mt-4 font-semibold text-white transition-all duration-300 rounded-full bg-gradient-to-r bg-[#21ba75] hover:bg-emerald-600 hover:shadow-lg hover:scale-105"><a
            href="#"> View Recipe</a>
    </button>
</div>